body {
	font-size: 18px !important;

}

td {
	padding-right: 4px;
}

.line_chunk {
	display:inline-block;
	float:left;
	margin:10px;
}

.stat_chunk {
	background-color:#dddddd;
	display: inline-block;
	margin: 5px;
	border:				1px solid;
	border-radius:		4px;
	text-align:center;
}

.config_wdgt {
	border:				1px solid;
	border-radius:		4px;
	display:			inline-block;
	padding:			10px;
	margin:				1px;
}

.config_wdgt input {
	width: 60px;
}

.line_wdgt {
	display:			inline-block;
}

.prog_wdgt {
	border:				1px solid;
	border-radius:		4px;
	display:			inline-block;
}

.stat_button {
	margin:3px;
	background-image:none;
	text-shadow:none;
	-webkit-border-top-left-radius:6px;
	-moz-border-radius-topleft:6px;
	border-top-left-radius:6px;
	-webkit-border-top-right-radius:6px;
	-moz-border-radius-topright:6px;
	border-top-right-radius:6px;
	-webkit-border-bottom-right-radius:6px;
	-moz-border-radius-bottomright:6px;
	border-bottom-right-radius:6px;
	-webkit-border-bottom-left-radius:6px;
	-moz-border-radius-bottomleft:6px;
	border-bottom-left-radius:6px;
	text-indent:0;
	border:1px solid #555555;
	display:inline-block;
	color:#000000;
	font-family:arial;
	font-size:19px;
	font-weight:bold;
	font-style:normal;
	height:40px;
	line-height:20px;
	width:100px;
	text-decoration:none;
	text-align:center;
}.stat_button:hover {
	background-color:#dfdfdf;
}.stat_button:active {
	position:relative;
	top:1px;
}

.stat_button_on {
	background-color:#FFF380;
}

.stat_button_off {
	background-color:#ff3030;
}

.stat_button_auto {
	background-color:#30ff33;
}

.indicator {
	display: block;
	height: 50px;
	background-position:center; 
	background-image:url('off.png');
	background-size:contain;
	background-repeat:no-repeat;
}

.indicator_active {
	background-image:url('on.png');
}

.invalid {
	background-color:#ff7777 !important;
}

.plus_icon {
	background-image:url('plus.png');
	background-size: contain;
	width: 50px;
	height: 50px;
}

.plus_icon:hover {
	background-position: 0px;
	float: left;
}

.cross_icon {
	background-image:url('cross.png');
	background-size: contain;
	width: 25px;
	height: 25px;
	position:absolute;
	right:5px;
	top:5px;
}

.cross_icon:hover {
	background-position: 0px;
}

input {
	font-size: 20px !important;
}

.prog_chunk {
	position: relative;
	border: 1px solid;
	float: left;
	margin: 4px;
	padding:15px;
}
